<section class="py-10 bg-white text-center">
    <h2 class="text-2xl font-bold mb-8 text-orange-600 animate-bounce relative" style="font-family: 'Lobster', cursive;">
        Popular Categories
        <span class="absolute bottom-0 left-0 w-full h-1 bg-green-400 transform scale-x-0 transition-transform duration-1000 ease-out animate-[grow_1s_ease-out_forwards]"></span>
      </h2>
  <div class="flex flex-wrap justify-center gap-6">
    <!-- Card 1 -->
    <div class="bg-white rounded-xl shadow-md p-4 w-36 transition transform hover:scale-105 hover:shadow-xl duration-300">
      <div class="bg-green-100 p-4 rounded-full mx-auto mb-3 animate-bounce">
        <img src="../../../../assets/images/fast-food.png" alt="Fast Food" class="w-33 h-17 object-contain">
      </div>
      <p class="font-medium text-sm">Fast Food</p>
    </div>

    <!-- Card 2 -->
    <div class="bg-white rounded-xl shadow-md p-4 w-36 transition transform hover:scale-105 hover:shadow-xl duration-300">
      <div class="bg-green-100 p-4 rounded-full mx-auto mb-3 animate-bounce">
        <img src="../../../../assets/images/soupe-carottes-creme-au-persil.png" alt="Soups" class="w-33 h-17 object-contain">
      </div>
      <p class="font-medium text-sm">Soups</p>
    </div>

    <!-- Card 3 -->
    <div class="bg-white rounded-xl shadow-md p-4 w-36 transition transform hover:scale-105 hover:shadow-xl duration-300">
      <div class="bg-green-100 p-4 rounded-full mx-auto mb-3 animate-bounce">
        <img src="../../../../assets/images/vigetarien.png" alt="Vegetarian" class="w-33 h-17 object-contain">
      </div>
      <p class="font-medium text-sm">Vegetarian</p>
    </div>

    <!-- Card 4 -->
    <div class="bg-white rounded-xl shadow-md p-4 w-36 transition transform hover:scale-105 hover:shadow-xl duration-300">
      <div class="bg-green-100 p-4 rounded-full mx-auto mb-3 animate-bounce">
        <img src="../../../../assets/images/salade pic png.png" alt="Salads" class="w-33 h-17 object-contain">
      </div>
      <p class="font-medium text-sm">Salads</p>
    </div>
  </div>
</section>
